.reader {
    width: 500px;
    margin: 10px auto;
}
.reader-text {
    padding: 10px;
    border: 1px solid #000;
    background-color: #fffbf6;
    text-align: center;
    margin: 0 auto;
    width: 350px;
    max-height: 400px;
    overflow: auto;
}
.reader-text-title {
    font-size: 14px;
}
.author {
    text-align: right;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.reader-text-item {
    transition: all .2s ease;
}
.speak {
     background-color: #f39c12;
     border-radius: 4px;
 }


.reader-oprations {
    padding: 10px 0;
    text-align: center;
}
